*{
    margin: 0;
    padding: 0;
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    z-index: 9999; 
}

.n1 {
    position: fixed;
    top: 0;
    left: 0%;
    width: 43%;
    height: 88%;
    background-image: url('image/n1.png');
    background-size: cover;
}

.n2 {
    position: fixed;
    top: 0;
    left: 43%;
    width: 43%;
    height: 63%;
    background-image: url('image/n2.png');
    background-size: cover;
}

.n3 {
    position: fixed;
    top: 63%;
    left: 43%;
    width: 43%;
    height: 25%;
    background-image: url('image/n3.png');
    background-size: cover;
}

.n4 {
    position: fixed;
    top: 0;
    right: 0;
    width: 14%;
    height: 100%;
    background-image: url('image/n4.png');
    background-size: cover;
}

.n5 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 86%;
    height: 12%;
    background-image: url('image/n5.png');
    background-size: cover;
}


@media (max-width: 700px) {
     .n4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-image: url('image/mobile_n1.png');
    background-size: cover;
    }

    .n1 {
    position: fixed;
    top: 9%;
    left: 0;
    width: 100%;
    height: 42%;
    background-image: url('image/mobile_n2.png');
    background-size: cover;
    }

    .n2 {
    position: fixed;
    top: 51%;
    left: 0;
    width: 100%;
    height: 29%;
    background-image: url('image/mobile_n3.png');
    background-size: cover;
    }

    .n3 {
    position: fixed;
    top: 80%;
    left: 0;
    width: 32%;
    height: 20%;
    background-image: url('image/mobile_n4.png');
    background-size: cover;
    }

    .n5 {
    position: fixed;
    bottom: 0;
    left: 32%;
    width: 68%;
    height: 20%;
    background-image: url('image/mobile_n5.png');
    background-size: cover;
    }
}