*{
    margin: 0;
    padding: 0;
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    z-index: 9999; 
}

.i1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 27%;
    height: 100%;
    background-image: url('image/i1.png');
    background-size: cover;
}

.i2 {
    position: fixed;
    top: 0;
    left: 27%;
    width: 26%;
    height: 31%;
    background-image: url('image/i2.png');
    background-size: cover;
}

.i3 {
    position: fixed;
    top: 0;
    right: 0;
    width: 47%;
    height: 31%;
    background-image: url('image/i3.png');
    background-size: cover;
}

.i4 {
    position: fixed;
    bottom: 0;
    left: 27%;
    width: 56%;
    height: 69%;
    background-image: url('image/i4.png');
    background-size: cover;
}

.i5 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 17%;
    height: 69%;
    background-image: url('image/i5.png');
    background-size: cover;
}

@media (max-width: 700px) {
     .i1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 69%;
    height: 36%;
    background-image: url('image/mobile_i1.png');
    background-size: cover;
    }

    .i2 {
    position: fixed;
    top: 36%;
    left: 0;
    width: 69%;
    height: 64%;
    background-image: url('image/mobile_i2.png');
    background-size: cover;
    }

    .i4 {
    position: fixed;
    top: 0;
    left: 69%;
    width: 31%;
    height: 59.5%;
    background-image: url('image/mobile_i3.png');
    background-size: cover;
    }

    .i5 {
    position: fixed;
    top: 59.5%;
    left: 69%;
    width: 31%;
    height: 13%;
    background-image: url('image/mobile_i4.png');
    background-size: cover;
    }

    .i3 {
    position: fixed;
    top: 72.5%;
    right: 0;
    width: 31%;
    height: 27.5%;
    background-image: url('image/mobile_i5.png');
    background-size: cover;
    }
}