* {
padding: 0;
margin: 0;
}

.a {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#a, #fullImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}